BasedOnStyle: Google
IndentWidth: 2
Language: Cpp
ColumnLimit: 80
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never
PointerAlignment: Right
ReferenceAlignment: Right
SortIncludes: Never
SpaceAfterLogicalNot: false
SpaceBeforeAssignmentOperators: true
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 2
